body {
	color: #111111;
	
}

.full-color {
	background-color:  #39CCCC;
}

form{
	-moz-border-radius: 2%;
	-webkit-border-radius: 2%;
	border-radius: 2%;
	padding: 2%;
}


/* Style the list items*/
 li {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: .5%;
	-moz-border-radius: 2%;
	-webkit-border-radius: 2%;
	border-radius: 2%;
	list-style: none;
	padding: 1% 2%;
	margin-bottom: .5%;
}



/*Add a counter to the elements */
form{
	counter-reset: fieldcounter;
}

form > fieldset > legend:before {
	content: "Step " counter(fieldcounter) ": ";
	counter-increment: fieldcounter;
}

@media only screen and (max-width: 40em) {
	form * {
		font-size: 24px	
	}
}

@media only screen and (max-width: 52em) {
	form * {
		font-size: 20px
	}
}

@media only screen and (min-width: 52em) {
	form * {
		font-size: 16px
	}
}